// Цветовая палитра
$cl-white: #F4F6F5;
$cl-black: #2C2D35;
$cl-green-light: #E1EDE6;
$cl-green: #598D66;
$cl-green-dark: #376B44;
$cl-background: #F4F6F5;
$cl-gray: #86928B;
$cl-gray-dark: #4C5866;

// Контрольные точки
$xs: 450px;
$sm: 576px; // mobile
$md: 730px; 
$lg: 992px; // tablet
$xl: 1200px; // desktop
$xxl: 1400px;

// Базовые размеры
$rem: 5px; // единица модульной сетки
$min-width: 320px; // мин. ширина контейнера
$container-width: 1140px; // макс. шиирина контейнера
$container-padding: 3rem; // отступы контейнера

// Текст
$font-family: "Raleway", helvetica, arial, sans-serif; // Шрифт по умолчанию
$font-size: 18px; // кегль на десктопе
$font-size-sm: 14px; // кегль на мобилках
$line-height: 150%; // интерлиньяж на десктопе
$p-margin: 2rem; // отступы между абзацев

// Анимации и переходы
$bezier: cubic-bezier(0, 0, 0.4, 1); // станд. функция перехода

:root {
  --container-padding: 33px;

  @media (max-width: $sm) {
    --container-padding: 15px;
  }
}