button:not(.reset-button),
.btn:not(.reset-button) {
  display: inline-block;
  padding: 20px 59px;
  color: $cl-green;
  font-size: 20px;
  line-height: auto;
  border: 1px solid $cl-green;
  border-radius: 4px;
  user-select: none;
  cursor: pointer;
  background-color: transparent;
  outline: 0;
  transition: 
    background-color 0.3s,
    color 0.3s;

  @media (max-width: $lg) {
    padding: 17px 49px;
  }

  @media (max-width: $md) {
    padding: 14px 40px;
  }

  @media (max-width: $xs) {
    padding: 14px 28px;
    font-size: 18px;
  }

  &:hover {
    color: $cl-white;
    background-color: $cl-green;
  }

  &:focus-visible {
    color: $cl-green;
    background-color: #D4E8D9;
  }

  &:active {
    background-color: $cl-green-dark;
  }

  &:disabled {
    opacity: 0.5;
  }
}