@for $i from 0 through 14 {
  .mb-#{$i}[class] {
    margin-bottom: #{$i}rem;
  }

  .mt-#{$i}[class] {
    margin-top: #{$i}rem;
  }

  @media (max-width: $sm) {
    .mb-sm-#{$i}[class] {
      margin-bottom: #{$i}rem;
    }

    .mt-sm-#{$i}[class] {
      margin-top: #{$i}rem;
    }
  }
}

.m-section {
  margin-bottom: 70px;

  @media (max-width: $md) {
    margin-bottom: 50px;
  }

  @media (max-width: $xs) {
    margin-bottom: 60px;
  }
}