mixin page-header(data={})
  header.page-header.js-header(class=className)
    .container.page-header__container
      .page-header__logo
        +logo
      .page-header__main
        +menu-button({
          className: "page-header__menu-button"
        })
        nav.page-header__nav
          ul.page-header__nav-list
            li
              +nav-link({
                page: "catalog",
                title: "Репродукции"
              })
            li
              +nav-link({
                page: "new",
                title: "Новинки"
              })
            li
              +nav-link({
                page: "about",
                title: "О нас"
              })
        a.page-header__cart-button(type="button" title="Перейти в корзину" href="#")
          +icon("cart", 24, 24)