extends ../app/templates/layout

block vars
  -var title = "Ink House - Репродукции - Германия"
  -var page = "catalog-germany"

block body
  +inner-header({
    breadcrumbs: [
      ["Репродукции", "catalog.html"],
      ["Германия"]
    ],
    title: "Германия"
  })
  section.m-section
    .container
       +gallery-array({
          country: "germany",
          list: [
            {
              img: "06",
              author: "Марсель Руссо",
              title: "Охота Амура",
              type: "Холст, масло (50&times;80)",
              price: "14&nbsp;500 руб",
            },
            {
              img: "05",
              author: "Анри Селин",
              title: "Дама с&nbsp;собачкой",
              type: "Акрил, бумага (50&times;80)",
              price: "16&nbsp;500 руб",
            },
            {
              img: "04",
              author: "Франсуа Дюпон",
              title: "Процедура",
              type: "Цветная литография (40&times;60)",
              price: "20&nbsp;000 руб",
            },
            {
              img: "03",
              author: "Луи Детуш",
              title: "Роза",
              type: "Бумага, акрил (50&times;80)",
              price: "12&nbsp;000 руб",
            },
            {
              img: "02",
              author: "12 000 руб",
              title: "Птичья трапеза",
              type: "Цветная литография (40&times;60)",
              price: "22&nbsp;500 руб",
            },
            {
              img: "01",
              author: "Пьер Моранж",
              title: "Пейзаж с&nbsp;рыбой",
              type: "Цветная литография (40&times;60)",
              price: "20&nbsp;000 руб",
            },
          ]
        })
        

block modals

block scripts