extends ../app/templates/layout

block vars
  - var title = "Ink House"
  - var page = "index"

block body
  +section-hero 
  +section-gallery
  +section-banner
  +section-team

block modals

block scripts