extends ../app/templates/layout

block vars
  -var title = "Главная страница"

block body
  section 
    .container
      | Скоро тут что-то будет, а&nbsp;пока вот так!
      +button({
        text: "Ну привет"
      })

block modals

block scripts