extends ../app/templates/layout

block vars
  - var title = "Ink House - Новинки"
  - var page = "new"

block body 
  +inner-header({
    title: "Новинки",
    breadcrumbs: [
      ["Новинки"]
    ]
  })
  
  +section-banner

block modals

block scripts