mixin link(data={})
  a(
    href=data.href
    class=data.className
    target=(data.blank ? "_blank" : null)
    rel=(data.blank ? "noopener noreferrer" : null)
  )&attributes(data.attributes)
    block