.pagination {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  user-select: none;

  @media (max-width: $sm) {
    padding: 0;
  }

  &__link {
    display: flex;
    justify-content: center;
    min-width: 56px;
    height: 56px;
    padding: 11px;
    border: 1px solid #E2E8EA;
    border-radius: 12px;
    font-size: 18px;
    line-height: 32px;
    transition: color 0.3s, border-color 0.3s;

    @media (max-width: $sm) {
      min-width: 48px;
      height: 48px;
      font-size: 16px;
      line-height: 24px;
    }
  }
}