.breadcrumbs {
  display: flex;
  gap: 8px;
  user-select: none;
  
  li {
    display: flex;
    align-items: center;
    gap: 8px;
    
    &:not(:last-child):after {
      content: ">";
      color: $cl-gray;
    }
  }

  a {
    color: $cl-black;
  }

  span {
    color: $cl-gray;
  }
}