.gallery-array {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;

  @media (max-width: $lg) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: $xs) {
    grid-template-columns: 1fr;
  }
}